body {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(../../assets/galaxy.gif);
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

#userAction {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 500px;
    background-image: url('../../assets/solar_system_image.jpg');
    background-size: cover;
}

#whenError {
    position: absolute;
    background-color: #ffffff55;
}

#errorThrow {
    background-color: #fff;
    font-size: 3rem;
    text-align: center;
}

#planetHolder {
    justify-self: center;
}

#result {
    background-color: whitesmoke;
    justify-self: center;
    text-align: center;
    align-self: center;
}

img {
    display: block;
}

input {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
}

#selectPlanet {
    width: 250px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#btn {
    width: 250px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#answer {
    text-align: center;
    background-color: #fff;
}
